body{
    font-family: 'Montserrat', sans-serif;
}
.nav{
    padding: 20px;
}
h1 {
    font-size: 30px;
}

input {
    margin-top: 20px;
}
.active {
    transform: scale(1.02);
}
.box{
    padding: 40px;
    border-radius: 10px;
    -webkit-box-shadow:-1px 8px 15px 0px rgba(0,0,0,0.5);
    -moz-box-shadow:-1px 8px 15px 0px rgba(0,0,0,0.5);
    box-shadow: -1px 8px 15px 0px rgba(0,0,0,0.5);
}
.btn-primary{
    background-color: #351c75;
    border-color: #351c75;
}

.btn-primary:hover{
    background-color: #bd60e7;
    border-color: #bd60e7;
}
.btn-selected{
    background-color: #bd60e7;
    border-color: #bd60e7;
    transform: scale(1.05);
}
a {
    color: #bd60e7;
}
a:hover{
    color: #351c75;
}
.correct {
    background-color:  rgb(41, 232, 111);
}
.incorrect {
    background-color: rgb(224, 11, 11);
}